#1

In [1]:
import pandas as pd

college = pd.read_csv('/content/College.csv')

In [2]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F.Undergrad  777 non-null    int64
 8   P.Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room.Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S.F.Ratio    777 non-null    float64
 16  perc.alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB

In [3]:
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [4]:
college = college.drop(['Unnamed: 0'], axis=1)

In [5]:
college = pd.get_dummies(college, columns=['Private'])

In [6]:
college = college.drop(['Private_No'], axis=1)

In [7]:
X = college.drop(['Apps'], axis=1)

In [8]:
y = college[['Apps']]

## 1-(a) Linear model (w. least squares)

In [9]:
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=30)

In [10]:
# https://stackoverflow.com/questions/27928275/find-p-value-significance-in-scikit-learn-linearregression

import statsmodels.api as sm

X2 = sm.add_constant(X_train)
lm = sm.OLS(y_train, X2)
lm = lm.fit()

In [11]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Apps   R-squared:                       0.935
Model:                            OLS   Adj. R-squared:                  0.933
Method:                 Least Squares   F-statistic:                     574.0
Date:                Sat, 21 Oct 2023   Prob (F-statistic):               0.00
Time:                        15:26:04   Log-Likelihood:                -5814.2
No. Observations:                 699   AIC:                         1.166e+04
Df Residuals:                     681   BIC:                         1.175e+04
Df Model:                          17
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        -302.9798    410.518     -0.738      0.461   -1109.012     503.053
Accept          1.6239      0.041     39.896      0.000       1.544       1.704
Enroll         -0.9567      0.186     -5.157      0.000      -1.321      -0.592
Top10perc      45.6143      5.672      8.042      0.000      34.477      56.751
Top25perc     -11.9206      4.536     -2.628      0.009     -20.827      -3.014
F.Undergrad     0.0603      0.032      1.861      0.063      -0.003       0.124
P.Undergrad     0.0537      0.032      1.691      0.091      -0.009       0.116
Outstate       -0.0790      0.020     -4.004      0.000      -0.118      -0.040
Room.Board      0.1179      0.049      2.383      0.017       0.021       0.215
Books           0.1967      0.236      0.832      0.406      -0.267       0.661
Personal        0.0045      0.065      0.069      0.945      -0.122       0.131
PhD            -6.1186      4.672     -1.310      0.191     -15.291       3.054
Terminal       -4.7022      5.164     -0.911      0.363     -14.842       5.438
S.F.Ratio       4.9126     13.032      0.377      0.706     -20.674      30.499
perc.alumni    -1.8567      4.154     -0.447      0.655     -10.014       6.300
Expend          0.0693      0.013      5.298      0.000       0.044       0.095
Grad.Rate       9.3981      3.005      3.127      0.002       3.497      15.299
Private_Yes  -513.7267    140.930     -3.645      0.000    -790.435    -237.018
==============================================================================
Omnibus:                      416.597   Durbin-Watson:                   1.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8248.182
Skew:                           2.268   Prob(JB):                         0.00
Kurtosis:                      19.206   Cond. No.                     1.80e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.8e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [12]:
lm_pred = lm.predict(sm.add_constant(X_test))

In [13]:
from sklearn.metrics import mean_squared_error

lm_error = mean_squared_error(y_test, lm_pred)

print("Linear regression test error estimation(MSE):", lm_error)

Linear regression test error estimation(MSE): 1826022.1276880263

## 1-(b) Ridge Regression

In [14]:
def k_fold(k, X, y, model):

  X, y =  shuffle(X, y, random_state = 50)

  slicing = len(X)//k
  val_error_list = []

  for i in range(k):
    start = slicing*i
    end = slicing*(i+1)
    if i == k-1:
      end = len(X)

    X_val = X[start:end]
    y_val = y[start:end]
    X_train = X.drop(X.index[start:end])
    y_train = y.drop(y.index[start:end])

    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    val_error_tmp = mean_squared_error(y_pred, y_val)
    val_error_list.append(val_error_tmp)

  return val_error_list

In [15]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html
# https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error

from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.utils import shuffle
from sklearn.pipeline import make_pipeline
from sklearn import preprocessing

alpha_list = []
for i in range(-4, 6):
  alpha_list.append(pow(10, i))

cv_err_list = []

for a in alpha_list:
  ridge = make_pipeline(preprocessing.StandardScaler(), Ridge(alpha=a))
  fold_error = k_fold(10, X_train, y_train, ridge)
  cv_err_list.append(sum(fold_error)/len(fold_error))

In [16]:
cv_err_list

[1197081.2552030333,
 1197084.276630632,
 1197114.5293666155,
 1197420.8723657443,
 1200837.54185592,
 1253883.3086143904,
 1760454.3276477437,
 3760432.7278959802,
 10685683.590804912,
 14489126.759424787]

In [17]:
min_idx = cv_err_list.index(min(cv_err_list))

In [18]:
alpha_list[min_idx]

0.0001

In [19]:
# Re-fit the ridge


ridge = make_pipeline(preprocessing.StandardScaler(), Ridge(alpha=alpha_list[min_idx]))

ridge.fit(X_train, y_train)

ridge_pred = ridge.predict(X_test)

ridge_error = mean_squared_error(y_test, ridge_pred)

print("Ridge test error:", ridge_error)

Ridge test error: 1826021.1876425373

In [20]:
from sklearn.metrics import r2_score

ridge_score = r2_score(y_test, ridge_pred)
print("Ridge r2 score:", ridge_score)

Ridge r2 score: 0.8699386605852428

## 1-(c) Lasso

In [21]:
from sklearn.linear_model import Lasso

cv_err_list_l = []

for a in alpha_list:
  lasso = make_pipeline(preprocessing.StandardScaler(), Lasso(alpha=a))
  fold_error = k_fold(10, X_train, y_train, lasso)
  cv_err_list_l.append(sum(fold_error)/len(fold_error))

In [23]:
min_idx = cv_err_list_l.index(min(cv_err_list_l))

In [24]:
alpha_list[min_idx]

0.0001

In [25]:
# Re-fit the lasso

lasso = make_pipeline(preprocessing.StandardScaler(), Lasso(alpha=alpha_list[min_idx]))

lasso.fit(X_train, y_train)

lasso_pred = lasso.predict(X_test)

lasso_error = mean_squared_error(y_test, lasso_pred)

print("Lasso test error:", lasso_error)

Lasso test error: 1826022.2331629526

In [26]:
lasso_score = r2_score(y_test, lasso_pred)
print("Lasso r2 score:", lasso_score)

Lasso r2 score: 0.8699385861163449

In [27]:
lasso.steps

[('standardscaler', StandardScaler()), ('lasso', Lasso(alpha=0.0001))]

In [28]:
# https://stackoverflow.com/questions/43856280/return-coefficients-from-pipeline-object-in-sklearn

lasso.steps[1][1].coef_

array([ 3.94914979e+03, -8.80112088e+02,  8.06964667e+02, -2.38138653e+02,
        2.90694514e+02,  8.33500666e+01, -3.19138514e+02,  1.31111500e+02,
        3.32329675e+01,  3.01820162e+00, -1.00932618e+02, -6.98607372e+01,
        1.94740240e+01, -2.30349979e+01,  3.49769491e+02,  1.61571947e+02,
       -2.28176454e+02])

# 2

In [29]:
boston = pd.read_csv('./Boston.csv')

In [30]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  lstat       506 non-null    float64
 13  medv        506 non-null    float64
dtypes: float64(10), int64(4)
memory usage: 55.5 KB

In [31]:
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [32]:
boston = boston.drop(['Unnamed: 0'], axis=1)

In [33]:
X = boston.drop(['crim'], axis=1)
y = boston[['crim']]

## 2-(a) ~ (b) Forward & Backward / Ridge / Lasso

### Ridge

In [34]:
cv_err_list = []

for a in alpha_list:
  ridge = make_pipeline(preprocessing.StandardScaler(), Ridge(alpha=a))
  fold_error = k_fold(10, X, y, ridge)
  cv_err_list.append(sum(fold_error)/len(fold_error))

In [35]:
min_idx = cv_err_list.index(min(cv_err_list))
r_a = alpha_list[min_idx]

In [36]:
print("Ridge best alpha:", r_a)

Ridge best alpha: 10

In [37]:
ridge = make_pipeline(preprocessing.StandardScaler(), Ridge(alpha=r_a))
ridge_mse = k_fold(10, X, y, ridge)

In [38]:
sum(ridge_mse)/len(ridge_mse)

42.11498743867365

### Lasso

In [39]:
cv_err_list_l = []

for a in alpha_list:
  lasso = make_pipeline(preprocessing.StandardScaler(), Lasso(alpha=a))
  fold_error = k_fold(10, X, y, lasso)
  cv_err_list_l.append(sum(fold_error)/len(fold_error))

In [40]:
min_idx = cv_err_list_l.index(min(cv_err_list_l))
l_a = alpha_list[min_idx]

In [41]:
print("Lasso best alpha:", l_a)

Lasso best alpha: 0.01

In [42]:
lasso = make_pipeline(preprocessing.StandardScaler(), Lasso(alpha=l_a))
lasso_mse = k_fold(10, X, y, lasso)

In [43]:
sum(lasso_mse)/len(lasso_mse)

42.108192386726294

In [67]:
lasso.steps[1][1].coef_

array([ 1.05640821, -0.37407132, -0.19334144, -1.05124903,  0.69391419,
        0.04947454, -2.10500239,  5.21686845, -0.62877573, -0.62604147,
        0.56798712, -2.40810666])

### Forward

In [44]:
cols = X.columns

In [70]:
p = X.shape[1]

undo = X.columns.tolist()
feature_list = []
Mk = []

print("Forward selection")

for _ in range(p):
  tmp_r2 = []
  for u in undo:
    X_tmp = X[[u]+feature_list]
    X_tmp = sm.add_constant(X_tmp)
    lm = sm.OLS(y, X_tmp)
    result = lm.fit()
    tmp_r2.append(result.rsquared)
  max_idx = tmp_r2.index(max(tmp_r2))
  feature_list.append(undo[max_idx])
  undo.pop(max_idx)
  print(feature_list)
  Mk.append(list(feature_list))

Forward selection
['rad']
['rad', 'lstat']
['rad', 'lstat', 'medv']
['rad', 'lstat', 'medv', 'ptratio']
['rad', 'lstat', 'medv', 'ptratio', 'rm']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis', 'zn']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis', 'zn', 'indus']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis', 'zn', 'indus', 'tax']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis', 'zn', 'indus', 'tax', 'chas']
['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis', 'zn', 'indus', 'tax', 'chas', 'age']

In [63]:
import numpy as np

null = np.zeros(X.shape)
null = pd.DataFrame(null)

In [64]:
from sklearn.linear_model import LinearRegression
# https://stackoverflow.com/questions/49381661/how-do-i-calculate-the-adjusted-r-squared-score-using-scikit-learn

mse = []

# null model
linear = LinearRegression()
error = k_fold(10, null, y, linear)
mse.append(sum(error)/len(error))


for k in Mk:
  X_tmp = X[k]
  linear = LinearRegression()
  error = k_fold(10, X_tmp, y, linear)
  mse.append(sum(error)/len(error))

In [65]:
mse

[74.0389396978575,
 45.38846757497713,
 43.444824729526516,
 43.32654101762223,
 43.04611930379884,
 43.13999600447802,
 43.0790921109096,
 42.610906280368745,
 42.13459295535885,
 42.03918649218895,
 42.017633271218514,
 42.063081959003924,
 42.1282625165581]

In [66]:
print("<Forward Subset Selection>")
print("Minimum MSE:", min(mse))
min_idx = mse.index(min(mse))
print("Number of Selected Features:", min_idx)
print("Selected Features:", Mk[min_idx-1])

<Forward Subset Selection>
Minimum MSE: 42.017633271218514
Number of Selected Features: 10
Selected Features: ['rad', 'lstat', 'medv', 'ptratio', 'rm', 'nox', 'dis', 'zn', 'indus', 'tax']

### Backward

In [50]:
todo = X.columns.tolist()

Mk = []

print("Backward selection")

for _ in range(p):
  tmp_r2 = []
  tmp_list = []
  for i in range(len(todo)):
    tmp = list(set(todo) - set([todo[i]]))
    tmp_list.append(tmp)
    X_tmp = X[tmp]
    X_tmp = sm.add_constant(X_tmp)
    lm = sm.OLS(y, X_tmp)
    result = lm.fit()
    tmp_r2.append(result.rsquared)
  max_idx = tmp_r2.index(max(tmp_r2))
  Mk.append(tmp_list[max_idx])
  todo = list(tmp_list[max_idx])
  print(todo)

Backward selection
['rm', 'indus', 'zn', 'rad', 'chas', 'lstat', 'ptratio', 'medv', 'tax', 'dis', 'nox']
['rm', 'zn', 'rad', 'tax', 'chas', 'lstat', 'medv', 'ptratio', 'dis', 'nox']
['rm', 'zn', 'rad', 'lstat', 'medv', 'ptratio', 'tax', 'dis', 'nox']
['rm', 'zn', 'rad', 'lstat', 'medv', 'ptratio', 'dis', 'nox']
['zn', 'rad', 'lstat', 'medv', 'ptratio', 'dis', 'nox']
['zn', 'rad', 'medv', 'ptratio', 'dis', 'nox']
['zn', 'rad', 'medv', 'dis', 'nox']
['dis', 'zn', 'rad', 'medv']
['dis', 'rad', 'medv']
['rad', 'medv']
['rad']
[]

In [51]:
Mk.pop(-1)

[]

In [52]:
mse = []

# full model
linear = LinearRegression().fit(X, y)
scores = k_fold(10, X, y, linear)
mse.append(sum(scores)/len(scores))

for k in Mk:
  X_tmp = X[k]
  linear = LinearRegression().fit(X_tmp, y)
  error = k_fold(10, X_tmp, y, linear)
  mse.append(sum(error)/len(error))

# null model
linear = LinearRegression()
error = k_fold(10, null, y, linear)
mse.append(sum(error)/len(error))

In [53]:
mse

[42.12826251655806,
 42.06308195900393,
 42.09198962027719,
 42.06113693663927,
 42.13459295535884,
 42.00525808761523,
 41.855822192819545,
 42.16024760502533,
 42.3866095061234,
 43.190660048424334,
 43.51511870896867,
 45.38846757497713,
 74.0389396978575]

In [61]:
print("<Backward Subset Selection>")
print("Minimum MSE:", min(mse))
min_idx = mse.index(min(mse))
print("Number of Selected Features:", len(mse)-1-min_idx)
print("Selected Features:", Mk[len(mse)-2-min_idx])

<Backward Subset Selection>
Minimum MSE: 41.855822192819545
Number of Selected Features: 6
Selected Features: ['zn', 'rad', 'medv', 'ptratio', 'dis', 'nox']